{#
/**
*  Copyright 2020 David S. Lloyd.
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*  you may not use this file except in compliance with the License.
*  You may obtain a copy of the License at
*
*    http://www.apache.org/licenses/LICENSE-2.0
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
*/
#}
<h2>List Books</h2>

<div class="row">
    {% for item in items %}
        <div class="col" style="min-width: 220px; margin: 2px;">
            <div class="card" style="min-height: 300px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ item.get('title') }}&nbsp;</h5>
                    <div class="card-text">
                        <p><b>Author:</b><br />{{ item.get('author') }}
                            {% if item.get('format') %}
                            <br />
                        <p class="card-text" style="font-size: smaller;">{{ item.get('format') }}</p>{% endif %}
                        <br />
                    </div>
                    <span class="mt-auto align-self-end">
                        <button class="delete btn btn-sm btn-danger" id="{{ item.get('id') }}">Delete</button>&nbsp;|&nbsp;
                        <a
                                id="edit"
                                class="edit btn btn-sm btn-primary"
                                href="#edit/{{ item.get('id') }}"
                                role="button">Edit</a>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
